<div class="flex items-center justify-center min-h-screen">
    <p class="text-2xl font-bold text-center">
        Diese Projekt soll einen kurzen Überblick über gelernte Kommunikation zwischen Frontend und Backend aufzeigen.
        Dabei kann ein Datensatz "angestellte" aus einer Postgres-datenbank gelesen und im Frontend dargestellt werden.
        Weiterhin beinhaltet dieses Projekt einen Konverter, der WebVTT über ein drag&drop-Menü einlesen, ins .srt-Format konvertiern und anschließend als Download bereitstellen kann.
    </p>
  </div>
